[Unit]
Description=RoadCaptain API dev environment

[Service]
# systemd will run this executable to start the service
# if /usr/bin/dotnet doesn't work, use `which dotnet` to find correct dotnet executable path
ExecStart=/opt/roadcaptain/api-dev/RoadCaptain.App.Web

WorkingDirectory=/opt/roadcaptain/api-dev
Restart=always
RestartSec=2s
KillSignal=SIGINT
SyslogIdentifier=RoadCaptainApiDev
Environment=ASPNETCORE_URLS=http://+:6000
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=DOTNETN_PRINT_TELEMETRY_MESSAGE=false
Environment=RUN_IN_SYSTEMD=1

[Install]
WantedBy=multi-user.target