<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        <h2><a name="{{ .id }}"><span class="title-anchor icon fal fa-link"></span></a>{{ .title }}</h2>
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button">{{ .label }}</a></li>
        </ul>{{ end }}
        {{ with .buttons }}<ul class="actions default">
            {{ range .}}
            <li><a href="{{ .link }}" class="button {{ .class }}">{{ .label }}</a></li>
            {{ end }}
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="" />
    </div>{{ end }}
</section>