{{ define "main" }}
    <style type="text/css">
        p.feature-image {
            text-align: center;
        }
        p.feature-image img {
            max-width: 100%;
        }
    </style>

    <section class="banner style1">
        <div class="content">
            <h1>{{ .Title }}</h1>
            <p><a href="/#{{ .Params.ParentFeatureList }}">&lt;&lt; Back to feature list</a></p>
        </div>
    </section>

    <section class="content style1 spotlight align-left content-align-left">
        <div class="content">
            {{ .Content }}
        </div>
    </section>

	{{ partial "template/footer" . }}

{{ end }}