<!-- Items -->
<section class="wrapper style1 align-center" id="{{ .id }}">
    <div class="inner"  style="text-align: left">
        <h2 style="text-align:center"><a name="{{ .id }}"><span class="title-anchor icon fal fa-link"></span></a>{{ .title }}</h2>
        <div class="items {{ .style }} supportedPlatforms" style="text-align: center">
            {{ range .items }}
                {{ partial "supportedPlatform" . }}
            {{ end }}
        </div>
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
    </div>
    <style type="text/css">
        .supportedPlatforms i {
            font-size: 200%;
        }
    </style>
</section>