<?xml version="1.0" encoding="UTF-8"?>

<!-- The name of the product -->
<?define Name = "RoadCaptain" ?>
<!-- The Description of the product -->
<?define Description = "Route builder and navigation for Zwift" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Codenizer BV" ?>
<!-- The version number of this setup package-->
<?define ProductVersion="!(bind.fileVersion.Runner_RoadCaptain.Runner.exe)" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{1C7AE27C-F6B2-4C7B-8311-D2FA0C090B68}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "RoadCaptain.cab" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define RoadCaptain.Runner_TargetDir=$(var.RoadCaptain.Runner.TargetDir)?>
  <?define RoadCaptain.RouteBuilder_TargetDir=$(var.RoadCaptain.RouteBuilder.TargetDir)?>
  <Product Id="*"
           Name="$(var.Name)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Embed Cabinet into single msi file-->
    <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />

    <!--Application logo-->
    <Icon Id="icon.ico" SourceFile="icon.ico" />

    <!--Application logo for Control Panel-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="CommonComponents"/>
      <ComponentGroupRef Id="RunnerComponents" />
      <ComponentGroupRef Id="RouteBuilderComponents" />
      <ComponentGroupRef Id="RouteBuilderNativeComponents"/>
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
            <Directory Id="runtimes" Name="runtimes">
              <Directory Id="winx64" Name="win-x64">
                <Directory Id="native" Name="native" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <!--Create application folder in Program Menu-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="CommonComponents" Directory="INSTALLFOLDER">
      <Component Id="appsettings.json" Guid="c3251ce3-f267-4237-b790-6ee35e13a26b">
        <File Id="appsettings.json" Name="appsettings.json" Source="$(var.RoadCaptain.Runner_TargetDir)appsettings.json" />
      </Component>
      <Component Id="Autofac.Configuration.dll" Guid="4c4f04ea-233d-47cf-850e-fd34f4b942a4">
        <File Id="Autofac.Configuration.dll" Name="Autofac.Configuration.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Autofac.Configuration.dll" />
      </Component>
      <Component Id="Autofac.dll" Guid="212ccb5c-417c-476e-8a82-e51adbacf69e">
        <File Id="Autofac.dll" Name="Autofac.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Autofac.dll" />
      </Component>
      <Component Id="Autofac.Extensions.DependencyInjection.dll" Guid="d93dc096-21f8-45cc-b340-3ab1049f7629">
        <File Id="Autofac.Extensions.DependencyInjection.dll" Name="Autofac.Extensions.DependencyInjection.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Autofac.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="Codenizer.HttpClient.Testable.dll" Guid="70b57040-baeb-4683-9339-748d74475ad4">
        <File Id="Codenizer.HttpClient.Testable.dll" Name="Codenizer.HttpClient.Testable.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Codenizer.HttpClient.Testable.dll" />
      </Component>
      <Component Id="Google.Protobuf.dll" Guid="ae6b5b41-c18f-4bfd-bd4c-6823c0e82d5e">
        <File Id="Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Google.Protobuf.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="24a04815-d90e-4ea2-9541-cc2f4c63822b">
        <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Binder.dll" Guid="e4df6a30-cfdc-46b8-accd-e40beaece8e3">
        <File Id="Microsoft.Extensions.Configuration.Binder.dll" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.dll" Guid="7ec75aa6-52ea-4255-b5fb-0b212e8d933c">
        <File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Guid="75677e71-de74-4f1f-a10f-89c1b5ed593f">
        <File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Json.dll" Guid="fec0f8e3-5c13-41f0-b2a9-c7d0afcc21d7">
        <File Id="Microsoft.Extensions.Configuration.Json.dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="0c9d7589-846a-4a8c-b515-3b2f7d6eec76">
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="a6e46f66-63e6-4bab-872c-ad4afd3d6895">
        <File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.FileProviders.Physical.dll" Guid="057c214d-6520-4c14-b024-84f7b314ae6e">
        <File Id="Microsoft.Extensions.FileProviders.Physical.dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.FileSystemGlobbing.dll" Guid="75b17c77-da9e-4198-942b-eb7ccb265823">
        <File Id="Microsoft.Extensions.FileSystemGlobbing.dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Hosting.Abstractions.dll" Guid="9f718b51-2adb-401e-a06b-26026c6d9b1d">
        <File Id="Microsoft.Extensions.Hosting.Abstractions.dll" Name="Microsoft.Extensions.Hosting.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="ccf49073-e88b-46f7-9301-e3329fb15bac">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.dll" Guid="ab9739d1-6474-4df4-b718-4b94fc1e91eb">
        <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Options.dll" Guid="25520afe-af0e-4406-b8e6-7a3b07a37e02">
        <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Primitives.dll" Guid="5e774969-5010-46eb-990f-cc9bcc0495a2">
        <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="3a377310-d126-4ea2-9f57-83582d3feac2">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="PacketDotNet.dll" Guid="9ac5d728-155c-49f5-9375-854bb8fbc82b">
        <File Id="PacketDotNet.dll" Name="PacketDotNet.dll" Source="$(var.RoadCaptain.Runner_TargetDir)PacketDotNet.dll" />
      </Component>
      <Component Id="RoadCaptain.Adapters.dll" Guid="b9541323-0c6c-4dbc-ae06-3936d325584c">
        <File Id="RoadCaptain.Adapters.dll" Name="RoadCaptain.Adapters.dll" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Adapters.dll" />
      </Component>
      <Component Id="RoadCaptain.Adapters.pdb" Guid="c363ba22-9fe3-477c-9d92-aab91751de0e">
        <File Id="RoadCaptain.Adapters.pdb" Name="RoadCaptain.Adapters.pdb" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Adapters.pdb" />
      </Component>
      <Component Id="RoadCaptain.dll" Guid="b5cb8303-7151-4480-855f-3e9f386d888b">
        <File Id="RoadCaptain.dll" Name="RoadCaptain.dll" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.dll" />
      </Component>
      <Component Id="RoadCaptain.pdb" Guid="675ebeda-7f97-4e23-80df-0e1a8a5d7708">
        <File Id="RoadCaptain.pdb" Name="RoadCaptain.pdb" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.pdb" />
      </Component>
      <Component Id="segments.json" Guid="155f14ad-a782-406f-83a7-87d82a54c7a8">
        <File Id="segments.json" Name="segments.json" Source="$(var.RoadCaptain.Runner_TargetDir)segments.json" />
      </Component>
      <Component Id="Serilog.dll" Guid="8b3da483-f4e0-4927-8667-f9cada3aecfc">
        <File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.dll" />
      </Component>
      <Component Id="Serilog.Extensions.Hosting.dll" Guid="ca1f3fc2-b9af-4ff5-8c21-a5cec41fd920">
        <File Id="Serilog.Extensions.Hosting.dll" Name="Serilog.Extensions.Hosting.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="Serilog.Extensions.Logging.dll" Guid="39ddcb7e-b64a-46c5-8052-c599586244fc">
        <File Id="Serilog.Extensions.Logging.dll" Name="Serilog.Extensions.Logging.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="Serilog.Sinks.Console.dll" Guid="bdf0bb1f-77d2-4acd-bcd3-6023fe6aebed">
        <File Id="Serilog.Sinks.Console.dll" Name="Serilog.Sinks.Console.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Sinks.Console.dll" />
      </Component>
      <Component Id="Serilog.Sinks.File.dll" Guid="6ef409de-ede9-4cad-a237-74dadfb5dbd5">
        <File Id="Serilog.Sinks.File.dll" Name="Serilog.Sinks.File.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="SharpPcap.dll" Guid="ba88bcea-8d8a-4999-b253-6ea3c6e0c4ba">
        <File Id="SharpPcap.dll" Name="SharpPcap.dll" Source="$(var.RoadCaptain.Runner_TargetDir)SharpPcap.dll" />
      </Component>
      <Component Id="System.IO.Pipelines.dll" Guid="46f5104e-121e-4fdc-85f0-f201d8918476">
        <File Id="System.IO.Pipelines.dll" Name="System.IO.Pipelines.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.IO.Pipelines.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="3dd1fcf6-fd50-4a56-8bff-5e6fe8518b5a">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="System.Text.Encodings.Web.dll" Guid="d954104b-8974-4241-95d5-ebebdc0aa227">
        <File Id="System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="System.Text.Json.dll" Guid="becbfadb-140a-48cf-b75f-41cb2fe8b32f">
        <File Id="System.Text.Json.dll" Name="System.Text.Json.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.Text.Json.dll" />
      </Component>
      <Component Id="turns.json" Guid="5bedd5a9-e170-4e89-8f22-539a0e25b89f">
        <File Id="turns.json" Name="turns.json" Source="$(var.RoadCaptain.Runner_TargetDir)turns.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RunnerComponents" Directory="INSTALLFOLDER">
      <Component Id="Runner_RoadCaptain.Runner.deps.json" Guid="7368f7dc-dafa-412f-a72b-796c50ca662b">
        <File Id="Runner_RoadCaptain.Runner.deps.json" Name="RoadCaptain.Runner.deps.json" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.deps.json" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.dll" Guid="4cc7e475-6280-4518-b0ad-bdcef8d686ae">
        <File Id="Runner_RoadCaptain.Runner.dll" Name="RoadCaptain.Runner.dll" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.dll" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.exe" Guid="285ae93a-4c38-4cda-b7a3-2fa73edb24f4">
        <File Id="Runner_RoadCaptain.Runner.exe" Name="RoadCaptain.Runner.exe" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.exe" KeyPath="yes" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.pdb" Guid="7fba5306-a976-4cbc-b12b-afbdf2d8f9eb">
        <File Id="Runner_RoadCaptain.Runner.pdb" Name="RoadCaptain.Runner.pdb" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.pdb" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.runtimeconfig.json" Guid="d0855114-8701-43ec-9156-d9c06615c07f">
        <File Id="Runner_RoadCaptain.Runner.runtimeconfig.json" Name="RoadCaptain.Runner.runtimeconfig.json" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.runtimeconfig.json" />
      </Component>
      <Component Id="autofac.runner.json" Guid="6ac60774-3fd1-4cd4-b0fe-cd663be51576">
        <File Id="autofac.runner.json" Name="autofac.runner.json" Source="$(var.RoadCaptain.Runner_TargetDir)autofac.runner.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RouteBuilderComponents" Directory="INSTALLFOLDER">
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.deps.json" Guid="bcf67f5f-23a2-41ee-b3f3-1579093d7c64">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.deps.json" Name="RoadCaptain.RouteBuilder.deps.json" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.deps.json" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.dll" Guid="af3a707f-b2da-4cb5-a08a-029e19116c1f">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.dll" Name="RoadCaptain.RouteBuilder.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.dll" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.exe" Guid="4acd1c7d-78ee-47a4-af26-09d20441d84a">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.exe" Name="RoadCaptain.RouteBuilder.exe" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.exe" KeyPath="yes" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.pdb" Guid="29b5bc04-8a92-45b6-b195-793add5deb30">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.pdb" Name="RoadCaptain.RouteBuilder.pdb" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.pdb" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.runtimeconfig.json" Guid="4717fa19-6b9a-429e-8b41-4bff72081142">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.runtimeconfig.json" Name="RoadCaptain.RouteBuilder.runtimeconfig.json" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.runtimeconfig.json" />
      </Component>
      <Component Id="RouteBuilder_SkiaSharp.dll" Guid="6e153b0e-596d-4ec6-b7af-765aa28716cc">
        <File Id="RouteBuilder_SkiaSharp.dll" Name="SkiaSharp.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)SkiaSharp.dll" />
      </Component>
      <Component Id="RouteBuilder_SkiaSharp.Views.Desktop.Common.dll" Guid="9b7fd1e8-422c-4441-ba1f-8434dfa46c13">
        <File Id="RouteBuilder_SkiaSharp.Views.Desktop.Common.dll" Name="SkiaSharp.Views.Desktop.Common.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)SkiaSharp.Views.Desktop.Common.dll" />
      </Component>
      <Component Id="RouteBuilder_SkiaSharp.Views.WPF.dll" Guid="92750a69-5fc6-4dbe-9f4e-52026d797180">
        <File Id="RouteBuilder_SkiaSharp.Views.WPF.dll" Name="SkiaSharp.Views.WPF.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)SkiaSharp.Views.WPF.dll" />
      </Component>
      <Component Id="autofac.routebuilder.json" Guid="EC484AAA-9889-4DAA-85FD-1CA169782917">
        <File Id="autofac.routebuilder.json" Name="autofac.routebuilder.json" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)autofac.routebuilder.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RouteBuilderNativeComponents" Directory="native">
      <Component Id="libSkiaSharp.dll" Guid="F9FA6CF9-690B-4955-B24C-13BFCF80F671">
        <File Id="libSkiaSharp.dll" Name="libSkiaSharp.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)runtimes\win-x64\native\libSkiaSharp.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <!--Create application shortcut in Program Menu-->
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="RunnerAppShortcut" Name="$(var.Name) Runner" Description="$(var.Description)" Icon="icon.ico" Target="[#Runner_RoadCaptain.Runner.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="RouteBuilderAppShortcut" Name="$(var.Name) Route Builder" Description="$(var.Description)" Icon="icon.ico" Target="[#RouteBuilder_RoadCaptain.RouteBuilder.exe]" WorkingDirectory="INSTALLFOLDER" />
        <!--Remove application shortcut from Program Menu on uninstall-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <!--Create application registry entry-->
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
