<?xml version="1.0" encoding="utf-8"?>
<!-- The name of the product -->
<?define Name = "RoadCaptain" ?>
<!-- The Description of the product -->
<?define Description = "Route builder and navigation for Zwift" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Codenizer BV" ?>
<!-- The version number of this setup package-->
<!-- var.ProductVersion is set through the MSBuild property DefineConstants in the .wixproj file -->
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{1C7AE27C-F6B2-4C7B-8311-D2FA0C090B68}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "RoadCaptain.cab" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- The relative path is to ensure we pick the right target framework
	as Wix insists on using net6.0 for reasons I don't understand... -->
  <?define RoadCaptain.Runner_TargetDir=$(var.RunnerTargetDir)?>
  <?define RoadCaptain.RouteBuilder_TargetDir=$(var.RouteBuilderTargetDir)?>
  <Product Id="*" Name="$(var.Name)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--Embed Cabinet into single msi file-->
    <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />
    <!--Application logo-->
    <Icon Id="icon.ico" SourceFile="icon.ico" />
    <!--Application logo for Control Panel-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="CommonComponents" />
      <ComponentGroupRef Id="RunnerComponents" />
      <ComponentGroupRef Id="RouteBuilderComponents" />
      <ComponentGroupRef Id="RoutesComponents" />
      <ComponentGroupRef Id="nativeComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
            <Directory Id="runtimes" Name="runtimes">
              <Directory Id="win.x64" Name="win-x64">
                <Directory Id="native" Name="native" />
              </Directory>
            </Directory>
            <Directory Id="Routes" Name="Routes" />
          </Directory>
        </Directory>
      </Directory>
      <!--Create application folder in Program Menu-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
      </Directory>
      <!--Create desktop folder -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="7BEC4281-9F3A-4A0C-B731-0AF4486B1250">
        <Shortcut Id="RunnerDesktopShortcut" Name="$(var.Name) Runner" Description="$(var.Description)" Icon="icon.ico" Target="[#Runner_RoadCaptain.App.Runner.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="RouteBuilderDesktopShortcut" Name="$(var.Name) Route Builder" Description="$(var.Description)" Icon="icon.ico" Target="[#RouteBuilder_RoadCaptain.App.RouteBuilder.exe]" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <!--Create application shortcut in Program Menu-->
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="RunnerAppShortcut" Name="$(var.Name) Runner" Description="$(var.Description)" Icon="icon.ico" Target="[#Runner_RoadCaptain.App.Runner.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="RouteBuilderAppShortcut" Name="$(var.Name) Route Builder" Description="$(var.Description)" Icon="icon.ico" Target="[#RouteBuilder_RoadCaptain.App.RouteBuilder.exe]" WorkingDirectory="INSTALLFOLDER" />
        <!--Remove application shortcut from Program Menu on uninstall-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <!--Create application registry entry-->
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <?include Components.wxi?>
</Wix>