<?xml version="1.0" encoding="UTF-8"?>

<!-- The name of the product -->
<?define Name = "RoadCaptain" ?>
<!-- The Description of the product -->
<?define Description = "Route builder and navigation for Zwift" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Codenizer BV" ?>
<!-- The version number of this setup package-->
<?define ProductVersion="!(bind.fileVersion.Runner_RoadCaptain.Runner.exe)" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{1C7AE27C-F6B2-4C7B-8311-D2FA0C090B68}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "RoadCaptain.cab" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define RoadCaptain.Runner_TargetDir=$(var.RoadCaptain.Runner.TargetDir)?>
  <?define RoadCaptain.RouteBuilder_TargetDir=$(var.RoadCaptain.RouteBuilder.TargetDir)?>
  <Product Id="*"
           Name="$(var.Name)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Embed Cabinet into single msi file-->
    <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />

    <!--Application logo-->
    <Icon Id="icon.ico" SourceFile="icon.ico" />

    <!--Application logo for Control Panel-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="CommonComponents"/>
      <ComponentGroupRef Id="RunnerComponents" />
      <ComponentGroupRef Id="RouteBuilderComponents" />
      <ComponentGroupRef Id="RunnerNativeComponents"/>
      <ComponentGroupRef Id="RouteBuilderNativeComponents"/>
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
            <Directory Id="runtimes" Name="runtimes">
              <Directory Id="winx64" Name="win-x64">
                <Directory Id="native" Name="native" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <!--Create application folder in Program Menu-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CommonComponents" Directory="INSTALLFOLDER">
      <Component Id="appsettings.json" Guid="d9efaa86-67ff-4346-ba6b-d98dc53d9b28">
        <File Id="appsettings.json" Name="appsettings.json" Source="$(var.RoadCaptain.Runner_TargetDir)appsettings.json" />
      </Component>
      <Component Id="Autofac.Configuration.dll" Guid="17287a9d-1d1b-464a-8f72-b2fd46ff8304">
        <File Id="Autofac.Configuration.dll" Name="Autofac.Configuration.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Autofac.Configuration.dll" />
      </Component>
      <Component Id="Autofac.dll" Guid="f1c8ff66-72d8-4955-b8eb-a7c978a98f51">
        <File Id="Autofac.dll" Name="Autofac.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Autofac.dll" />
      </Component>
      <Component Id="Autofac.Extensions.DependencyInjection.dll" Guid="0b1e0602-8d5a-4547-ae4c-c820e2b7285a">
        <File Id="Autofac.Extensions.DependencyInjection.dll" Name="Autofac.Extensions.DependencyInjection.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Autofac.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="Codenizer.HttpClient.Testable.dll" Guid="0cdc59e0-4199-4277-8bf2-8f7380cc0438">
        <File Id="Codenizer.HttpClient.Testable.dll" Name="Codenizer.HttpClient.Testable.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Codenizer.HttpClient.Testable.dll" />
      </Component>
      <Component Id="Google.Protobuf.dll" Guid="5dfec3b9-a785-4d85-a9a9-03abdd9ff017">
        <File Id="Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Google.Protobuf.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="48f76bcb-fee8-4ceb-9ae3-576784d8ba08">
        <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Binder.dll" Guid="3dd325f4-bbe6-415f-bd14-e30c59daf4bd">
        <File Id="Microsoft.Extensions.Configuration.Binder.dll" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.dll" Guid="376125f9-d06b-4ad2-ae09-b28f490cc827">
        <File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Guid="222ad829-ded5-4eeb-b553-139176886844">
        <File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Json.dll" Guid="009171df-400d-48e4-ae60-86e381ba45f8">
        <File Id="Microsoft.Extensions.Configuration.Json.dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="5d2e9126-8ba2-4e87-aba1-75ddfa36d3cd">
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="b6af9538-b909-4266-87b3-973b1926edf2">
        <File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.FileProviders.Physical.dll" Guid="78cedccd-4446-4f53-97e1-8075047dec4b">
        <File Id="Microsoft.Extensions.FileProviders.Physical.dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.FileSystemGlobbing.dll" Guid="dbc60001-eed8-4d98-9a92-8bc7aa7643e5">
        <File Id="Microsoft.Extensions.FileSystemGlobbing.dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Hosting.Abstractions.dll" Guid="116aa3ab-aa23-4467-bba2-a531c1f9a215">
        <File Id="Microsoft.Extensions.Hosting.Abstractions.dll" Name="Microsoft.Extensions.Hosting.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="9d96ca95-7cd9-4e26-afa8-28f2ea1f9d4a">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.dll" Guid="c4ce4fb5-569f-4d9a-9804-54a2a95e3566">
        <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Options.dll" Guid="fb1331ea-c843-43a5-92d6-a55abce3cb07">
        <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Primitives.dll" Guid="5f39de11-fe8b-4f75-8ac0-ea147bcae443">
        <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="d4d6bb9a-501d-4d29-9ab6-abcae9e4ff37">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="PacketDotNet.dll" Guid="334c8e49-2931-4978-b1ab-3b224ba0b786">
        <File Id="PacketDotNet.dll" Name="PacketDotNet.dll" Source="$(var.RoadCaptain.Runner_TargetDir)PacketDotNet.dll" />
      </Component>
      <Component Id="RoadCaptain.Adapters.dll" Guid="59a7908d-cd3f-47c5-a298-a5a46d962fa0">
        <File Id="RoadCaptain.Adapters.dll" Name="RoadCaptain.Adapters.dll" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Adapters.dll" />
      </Component>
      <Component Id="RoadCaptain.Adapters.pdb" Guid="81c6a008-3122-4588-9075-21656cb3d8ef">
        <File Id="RoadCaptain.Adapters.pdb" Name="RoadCaptain.Adapters.pdb" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Adapters.pdb" />
      </Component>
      <Component Id="RoadCaptain.dll" Guid="c717fd49-94fd-4f43-930d-e2ae609ed597">
        <File Id="RoadCaptain.dll" Name="RoadCaptain.dll" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.dll" />
      </Component>
      <Component Id="RoadCaptain.pdb" Guid="f0445291-b588-4a1b-a07d-d5f544fc6d3b">
        <File Id="RoadCaptain.pdb" Name="RoadCaptain.pdb" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.pdb" />
      </Component>
      <Component Id="segments.json" Guid="e1339b19-764c-4d7f-b162-d59839edada8">
        <File Id="segments.json" Name="segments.json" Source="$(var.RoadCaptain.Runner_TargetDir)segments.json" />
      </Component>
      <Component Id="Serilog.dll" Guid="e3c317e6-5f05-4203-b88f-bea68a8873b8">
        <File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.dll" />
      </Component>
      <Component Id="Serilog.Extensions.Hosting.dll" Guid="86aec07b-a5c8-4d79-b812-bfe5ab3fb547">
        <File Id="Serilog.Extensions.Hosting.dll" Name="Serilog.Extensions.Hosting.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="Serilog.Extensions.Logging.dll" Guid="39296a05-2d74-42b1-a1bd-2be7c9dbb9eb">
        <File Id="Serilog.Extensions.Logging.dll" Name="Serilog.Extensions.Logging.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="Serilog.Sinks.Console.dll" Guid="fbfc1f0e-f1d5-40f0-a178-868bc8912df5">
        <File Id="Serilog.Sinks.Console.dll" Name="Serilog.Sinks.Console.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Sinks.Console.dll" />
      </Component>
      <Component Id="Serilog.Sinks.File.dll" Guid="fdbbb505-f887-4589-9f8a-a43d7db5481a">
        <File Id="Serilog.Sinks.File.dll" Name="Serilog.Sinks.File.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="SharpPcap.dll" Guid="de1ca6f4-9e3d-44e2-9df9-9083df1f0a07">
        <File Id="SharpPcap.dll" Name="SharpPcap.dll" Source="$(var.RoadCaptain.Runner_TargetDir)SharpPcap.dll" />
      </Component>
      <Component Id="System.IO.Pipelines.dll" Guid="170636b7-4b8f-458c-8e7e-478433c9eef1">
        <File Id="System.IO.Pipelines.dll" Name="System.IO.Pipelines.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.IO.Pipelines.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="65efbe9c-4d20-4921-ad26-085a7c237ee3">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="System.Text.Encodings.Web.dll" Guid="a35bc142-80e6-4487-9ca1-029dd6d6e28a">
        <File Id="System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="System.Text.Json.dll" Guid="7803f458-5440-4beb-8e53-c0de68e23c57">
        <File Id="System.Text.Json.dll" Name="System.Text.Json.dll" Source="$(var.RoadCaptain.Runner_TargetDir)System.Text.Json.dll" />
      </Component>
      <Component Id="turns.json" Guid="be7117f6-18c1-4eb9-abfe-820bac53c84d">
        <File Id="turns.json" Name="turns.json" Source="$(var.RoadCaptain.Runner_TargetDir)turns.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RunnerComponents" Directory="INSTALLFOLDER">
      <Component Id="Runner_autofac.runner.json" Guid="9f0fbfab-8693-4bf3-bd1a-289b6c4e35f4">
        <File Id="Runner_autofac.runner.json" Name="autofac.runner.json" Source="$(var.RoadCaptain.Runner_TargetDir)autofac.runner.json" />
      </Component>
      <Component Id="Runner_Microsoft.Web.WebView2.Core.dll" Guid="660fbd2c-7faf-4cc1-92cd-20dfcd17f4eb">
        <File Id="Runner_Microsoft.Web.WebView2.Core.dll" Name="Microsoft.Web.WebView2.Core.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Web.WebView2.Core.dll" />
      </Component>
      <Component Id="Runner_Microsoft.Web.WebView2.WinForms.dll" Guid="87785fa5-e8fa-4bb9-be02-4ec29b632d2a">
        <File Id="Runner_Microsoft.Web.WebView2.WinForms.dll" Name="Microsoft.Web.WebView2.WinForms.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Web.WebView2.WinForms.dll" />
      </Component>
      <Component Id="Runner_Microsoft.Web.WebView2.Wpf.dll" Guid="beea58be-0612-4102-aebf-a771c6515e8c">
        <File Id="Runner_Microsoft.Web.WebView2.Wpf.dll" Name="Microsoft.Web.WebView2.Wpf.dll" Source="$(var.RoadCaptain.Runner_TargetDir)Microsoft.Web.WebView2.Wpf.dll" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.deps.json" Guid="1f88aab2-5098-419a-9eb2-a9eafc2eb016">
        <File Id="Runner_RoadCaptain.Runner.deps.json" Name="RoadCaptain.Runner.deps.json" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.deps.json" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.dll" Guid="fffd9c19-c686-41ee-b278-6dcca39269f4">
        <File Id="Runner_RoadCaptain.Runner.dll" Name="RoadCaptain.Runner.dll" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.dll" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.exe" Guid="b08a84c4-34c7-4285-b63e-7e0deadfd322">
        <File Id="Runner_RoadCaptain.Runner.exe" Name="RoadCaptain.Runner.exe" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.exe" KeyPath="yes" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.pdb" Guid="4ddcd88a-260e-4ba1-a144-3f94e4c1007e">
        <File Id="Runner_RoadCaptain.Runner.pdb" Name="RoadCaptain.Runner.pdb" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.pdb" />
      </Component>
      <Component Id="Runner_RoadCaptain.Runner.runtimeconfig.json" Guid="08f2470e-1798-4623-a93a-0011017c1e32">
        <File Id="Runner_RoadCaptain.Runner.runtimeconfig.json" Name="RoadCaptain.Runner.runtimeconfig.json" Source="$(var.RoadCaptain.Runner_TargetDir)RoadCaptain.Runner.runtimeconfig.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RouteBuilderComponents" Directory="INSTALLFOLDER">
      <Component Id="RouteBuilder_autofac.routebuilder.json" Guid="21ea536b-4869-49ef-89fa-8515441ddac7">
        <File Id="RouteBuilder_autofac.routebuilder.json" Name="autofac.routebuilder.json" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)autofac.routebuilder.json" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.deps.json" Guid="79644ef7-1f5a-480b-8d96-b3794e6290f3">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.deps.json" Name="RoadCaptain.RouteBuilder.deps.json" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.deps.json" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.dll" Guid="f4c23d1f-5e95-48ed-ae0e-f462e1f3bcc1">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.dll" Name="RoadCaptain.RouteBuilder.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.dll" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.exe" Guid="2a530799-ca6f-476a-bd79-cd610b81de2e">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.exe" Name="RoadCaptain.RouteBuilder.exe" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.exe" KeyPath="yes" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.pdb" Guid="f4b45b1a-b077-411a-9dce-3ee4a86e3a74">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.pdb" Name="RoadCaptain.RouteBuilder.pdb" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.pdb" />
      </Component>
      <Component Id="RouteBuilder_RoadCaptain.RouteBuilder.runtimeconfig.json" Guid="d939f051-1080-4014-aa8b-76e84e21742f">
        <File Id="RouteBuilder_RoadCaptain.RouteBuilder.runtimeconfig.json" Name="RoadCaptain.RouteBuilder.runtimeconfig.json" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)RoadCaptain.RouteBuilder.runtimeconfig.json" />
      </Component>
      <Component Id="RouteBuilder_SkiaSharp.dll" Guid="cc38c417-4bca-4e56-8a2e-660291c4bd6b">
        <File Id="RouteBuilder_SkiaSharp.dll" Name="SkiaSharp.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)SkiaSharp.dll" />
      </Component>
      <Component Id="RouteBuilder_SkiaSharp.Views.Desktop.Common.dll" Guid="00b9fb91-76dd-40eb-bee3-aebeb5be20c2">
        <File Id="RouteBuilder_SkiaSharp.Views.Desktop.Common.dll" Name="SkiaSharp.Views.Desktop.Common.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)SkiaSharp.Views.Desktop.Common.dll" />
      </Component>
      <Component Id="RouteBuilder_SkiaSharp.Views.WPF.dll" Guid="b110f5ed-02de-4836-adb8-02322c356762">
        <File Id="RouteBuilder_SkiaSharp.Views.WPF.dll" Name="SkiaSharp.Views.WPF.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)SkiaSharp.Views.WPF.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RunnerNativeComponents" Directory="INSTALLFOLDER">
      <Component Id="Runner_WebView2Loader.dll" Guid="c2d167fe-33c6-40f8-a6af-1d2ff511303e">
        <File Id="Runner_WebView2Loader.dll" Name="WebView2Loader.dll" Source="$(var.RoadCaptain.Runner_TargetDir)runtimes\win-x64\native\WebView2Loader.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RouteBuilderNativeComponents" Directory="INSTALLFOLDER">
      <Component Id="RouteBuilder_libSkiaSharp.dll" Guid="9691ca15-f485-48e8-8ab8-822e51e3f687">
        <File Id="RouteBuilder_libSkiaSharp.dll" Name="libSkiaSharp.dll" Source="$(var.RoadCaptain.RouteBuilder_TargetDir)runtimes\win-x64\native\libSkiaSharp.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <!--Create application shortcut in Program Menu-->
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="RunnerAppShortcut" Name="$(var.Name) Runner" Description="$(var.Description)" Icon="icon.ico" Target="[#Runner_RoadCaptain.Runner.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="RouteBuilderAppShortcut" Name="$(var.Name) Route Builder" Description="$(var.Description)" Icon="icon.ico" Target="[#RouteBuilder_RoadCaptain.RouteBuilder.exe]" WorkingDirectory="INSTALLFOLDER" />
        <!--Remove application shortcut from Program Menu on uninstall-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <!--Create application registry entry-->
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
